.settings
.cproject
.project
.pydevproject
.vscode/
.ipynb_checkpoints/
.DS_Store?
._*
.Spotlight-V100
.Trashes
\#*
ehthumbs.db
Thumbs.db
./Makefile
*.so
*.o
*.log
data/ipcc_gauge*
data/*.lime
data/a.out
src/other_libs
main
